@charset "ISO-8859-1";
body
{
background: url(images/hospital.jpg);
background-size: cover;
margin: 0;

}
input{
width:80%;
outline: none;
padding: 10px,11px;
border: 1px,#aaa solid;
font-size: 20px;
background: #ff;
display: block;
margin: 20px auto;
}
#login{
background: palevioletred;
color: black;
border: solid;


}
div{
width: 25%;
height: 525px;
background: rgba(0,0,0,0.5);
box-shadow: 15px 4px 43px #000;
position: absolute;
top: 45px;
bottom: 25px; 
}

form{
margin: auto;
text-align: center;

}
b{
font-size: 35px;
color: red;
}


img{
display: block;
margin: 20px auto 0 auto;
}

a
{
	background: pink;
	border: solid;
	color: darkpink;
}

